*{
	padding:0px;
	margin:0px;
}

.container-navbar{
	padding: 0px;
}
	
body{
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
}


/* roboto tamaño mediano */
.special-price, #form-titulo, button {
		font-family: "Roboto", sans-serif;
		font-weight: 600;
}

/* #container-navbar{
	display: flex;
	justify-content: center;
} */


/* NAVBAR */

.navbar {
	
		background-color: #28A745;
		width:  100vw;
		overflow: hidden;
}

/* alinea el menu a la derecha */
.navbar-nav {
	
	float: right;
	margin-right: 2%;
	right: 55px;
	position: absolute;
	} 

/* ajuste tamaño logo */
#logo-cuppon{
	height: 26px;
	width: 85px;
	top: 12px;
	left: 119px;
}




/* CARD */

/* row-cols-auto */
.cards{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card{
	display: flex;
	justify-content: center;
	width: 278px;
	margin: 5%;
}

.card img {
	height: 180px;
	width: 278px;
}

.card-body{
	width: 278px;
}

.card-title{
font-size: 20px;
color: #212529;
letter-spacing: 0px;
}

.card-subtitle, .text-price{
	font-size: 16px;
	color:#707070;
}

.card-text{
	font-size: 13px;
	color: #707070;
}

.text-price{
	text-align: end;
}

.special-price{
	font-size: 20px;
	color:#28A745;
}



/* FORM */

#container-formulario{
	display: flex;
	justify-content: center;
}

form{
	background-color: #28A745;
	height: 241px;
	width: 320px; 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

input{
	padding: 10px;
	height: 40px;
	width: 278px;
}

#form-titulo{
	font-size: 21px;
	color: #FFFFFF;
}

input .form-boton{
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.form-boton{
	color:#212529 ;
	font-size: 16px;
	width: 112.71px;
	height: 40px;
	outline: none;
}

input[type="text"]:focus {
	border: 2px solid #707070; /* Define el borde cuando el elemento tiene el foco */
	border-radius: 4px; /* Redondea los bordes */
	outline: none; /* Elimina borde externo */
}


/* FOOTER */

#container-footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 5%;
	

}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-self: center;
	width: 100vw;
	height: 104px;
	background-color: #FFFFFF;
}

footer img{
	width:82px ;
	height: 24px;
}

footer p{
	color: #707070;
	font-size: 16px;
	text-align: center;
}





@media only screen and (max-width: 576px) {

#logo-cuppon{
	margin-left: 20px;
}




.btn-navbar{
	margin-right: 22px;

}



.card{
margin-left: 20px;
margin-right: 22px;
}

.card, footer{
	margin:1%;
}


.navbar {
	width: 100vw;
	background-color:#28A745;
}

.navbar-nav {
	margin-right: 2%;
	position: static;
} 

} 